<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE xml>  
<Configuration status="off" monitorInterval="3600">  
  
    <properties>  
        <property name="LOG_HOME">/logstest</property>  
        <property name="FILE_NAME">running-log</property>  
    </properties>  
  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />  
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>  
        </Console>  
  
        <RollingRandomAccessFile name="running-log"  
            fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">  
            <PatternLayout  
                pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />  
            <Policies>  
                <TimeBasedTriggeringPolicy />  
                <SizeBasedTriggeringPolicy size="10 MB" />  
            </Policies>  
            <DefaultRolloverStrategy max="1000" />  
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>  
        </RollingRandomAccessFile>  
    </Appenders>  
      
    <Loggers>  
        <Logger name="com.shbc.batch" additivity="false">  
            <AppenderRef ref="running-log" />  
            <AppenderRef ref="Console" />  
        </Logger>  
        <Root level="error">  
            <AppenderRef ref="Console" />  
        </Root>  
    </Loggers>  
</Configuration>  